* {
    font-family: monospace;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

pre {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#wrapper {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h1 {
    text-align: center;
    font-size: 35px;
    font-family: Z;
    margin-bottom: 30px;
}

@font-face {
    font-family: Z;
    src: url(/fonts/Minecraft-Rus-NEW.woff);
}

p {
    margin-top: 15px;
    text-align: center;
    font-size: 35px;
}
a {
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}

.fa-github-square,
.fa-telegram {
    font-size: 35px;
    text-align: center;
}


@media screen and (max-width: 990px) {
    h1{
        font-size: 110px;
    }
    .fa-github-square:before, .fa-square-github:before {
        font-size: 100px;
    }

    .fa-telegram-plane:before, .fa-telegram:before {
        font-size: 100px;
    }
}

