* {
    font-family: monospace;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

pre {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#wrapper {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
h1{
    text-align: center;
    font-size: 35px;
    font-family: Z;
}
@media screen and (max-width: 600px) {
    * {
        font-size: 22px;
    }
}

a3{
    font-size: 22px;
    text-align: center;
}
@font-face {
    font-family: Z;
    src: url(/fonts/Minecraft-Rus-NEW.woff);
}
p{
    text-align: center;
}

a4{
    text-align: center;
    font-family: Z;
    margin-top: 30px;
}

p{
    margin-top: 5px;
}

@keyframes shake {
    
    0% { transform: translate(0, 0); }
    25% { transform: translate(-5px, 5px); }
    50% { transform: translate(5px, -5px); }
    75% { transform: translate(-5px, 5px); }
    100% { transform: translate(0, 0); }
}

/*текст нарика*/
.rainbow_span {
    background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
	-webkit-animation: rainbow_span 5s linear infinite alternate;
	-webkit-background-clip: text;
	-webkit-text-fill-color: #0000;
	background-clip: text;
    margin-top: 5px;
	font-family: Z;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0s, visibility 0s linear 0.3s;

}

.widget:hover .rainbow_span{
    font-size: 14px;
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    
}

@keyframes rainbow_span {
	0% { background-position: 0 0 }
	100% { background-position: -500px 0 }
}

a6{
    text-align: center !important;
    font-family: Z;
    font-size:13px;
    transition: font-size 2s 0.5s
}

a6:hover {
    font-size: 36px;
  }

  @media screen and (max-width: 600px){
  * {
      font-size: 15px;
  }}